<h1>Listing items</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Cue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.body %></td>
    <td><%= item.cue %></td>
<% end %>
</table>

<br />

